html {
    height: 100%;
    width: 100%;
}

body {
    font-size: 14px;
    font-family: arial, sans-serif;
    color: #222;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 48px;
    padding: 6px;
}

.nav-bar-left {
    justify-content: flex-start;
}

#about-button {
    color: rgb(34, 34, 34);
    text-decoration: none;
    margin: 0px 1px 0px 15px;
    padding: 5px;
}

#about-button:hover {
    text-decoration: underline;
}

#store-button {
    color: rgb(34, 34, 34);
    text-decoration: none;
    margin: 0px 5px;
    padding: 5px;
}

#store-button:hover {
    text-decoration: underline;
}

.nav-bar-right {
    display: flex;
    align-items: center;
    font-size: 13px;
    height: 48px;
    width: 281.6px;
    padding: 0px 4px 0px 32px;
}

#gmail-button {
    color: rgb(34, 34, 34);
    text-decoration: none;
    margin-left: 15px;
    margin-right: 20px;
}

#gmail-button:hover {
    text-decoration: underline;
}

#images-button {
    color: rgb(34, 34, 34);
    text-decoration: none;
    margin-left: -5px;
    margin-right: 27px;

}

#images-button:hover {
    text-decoration: underline;
}

#apps-icon {
    color: rgb(34, 34, 34);
    text-decoration: none;
    padding-top: 2px;
    margin-right: 45px;
}

#sign-in-button {
    color: rgb(255, 255, 255);
    background-color: rgb(26, 115, 232);
    text-decoration: none;
    font-size: 14px;
    letter-spacing: .25px;
    height: 16px;
    width: 48px;
    padding: 9px 23px 9px 25px;
    margin: 0px 8px 0px -25px;
    border: 1px solid transparent;
    border-radius: 4px;
}

#sign-in-button:hover {
    background: #2b7de9;
    box-shadow: 0 1px 2px 0 rgba(66,133,244,0.3),0 1px 3px 1px rgba(66,133,244,0.15);
}

.middle-part {
    display: flex;
    justify-content: center;
}
